.container-home {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-direito {
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-esquerdo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo-home {
    font-size: 24px;
    font-weight: 600;
    color: #26382e;
}

.texto {
    font-size: 18px;
    line-height: 1.5rem;
}

@media (min-width: 768px) {
    .container-home {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 7px 0;
        gap: 20px;
    }

    .container-direito {
        width: 55%;
        margin-left: 20px;
        gap: 20px;
    }

    .container-esquerdo {
        width: 40%;
        justify-content: center;
        align-items: center;
    }

    .titulo-home {
        font-size: 36px;
    }

    .texto {
        font-size: 20px;
    }
}