.container-cadastro {
    background-color: rgb(245, 245, 245);
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    padding: 10px;
    gap: 5px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(202, 170, 170, 0.06);
}

.container-cep {
    display: flex;
    flex-direction: row;
}

.container-label, .titulo {
    padding: 0 5px;
    font-weight: bold;
    font-size: 1rem;
    color: #4a5568;
}

.titulo {
    padding: 10px 0;
    font-size: 2rem;
    text-align: center;
}

.container-input {
    height: 35px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    padding: 2px 9px;
}

.container-error {
    color: rgb(212, 39, 39);
    font-style: italic;
}

.container-buttons {
    display: flex;
    justify-content: space-around;
}

.container-buttons > input {
    width: 85px;
    height: 40px;
    background-color: #6c886c;
    font-weight: bold;
    padding: 4px 2px;
    color: white;
    border-radius: 3px;
}

.container-buttons > input:hover {
    cursor: pointer;
    background-color: #597959;
}

table {
    margin: 5px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    border-collapse: collapse;
    border-radius: 5px;
    overflow-x: auto;
}
  
tr:nth-child(even) {
    background-color: #d4d4d4;
}
  
th, td {
    padding: 5px 10px;
}
  
.table-header {
    color: white;
    background-color: #6c886c;
}

@media (min-width: 576px){

}

@media (min-width: 768px){
    .titulo {
        font-size: 2.3rem;
    }
}

@media (min-width: 1200px){
    

}

@media (min-width: 1400px){

}
